
<a id='min'></a>
[[]]

This tutorial is based on [**10 minutes to pandas**](https://mybinder.org/v2/gh/TomAugspurger/pandas-binder/master?filepath=build%2Fjupyter%2Fgetting_started%2F10min.ipynb) with excercises added by @aniafijarczyk

This is a short introduction to pandas, geared mainly for new users. 
You can see more complex recipes in the [Cookbook](https://pandas.pydata.org/docs/user_guide/cookbook.html).

Customarily, we import as follows:

In [ ]:
import numpy as np
import pandas as pd

### Tutotrial is divided into 2 parts, each part followed by short excercises.
### 1.  Reading and creating data frames
- creating data frames
- opening & viewing files
- slicing, sorting, selecting rows and columns

### 2. Describing and summarizing data frames
- missing data
- stats
- merging, grouping
- plotting

# 1. Reading and creating data frames

## Object creation

See the [Data Structure Intro section](https://pandas.pydata.org/docs/user_guide/dsintro.html).

Creating a `Series` by passing a list of values, letting pandas create
a default integer index:

In [ ]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])
s

Creating a `DataFrame` by passing a NumPy array, with a datetime index
and labeled columns:

In [ ]:
dates = pd.date_range('20130101', periods=6)
dates
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))
df

Creating a `DataFrame` by passing a dict of objects that can be converted to series-like.

In [ ]:
df2 = pd.DataFrame({'A': 1.,
                    'B': pd.Timestamp('20130102'),
                    'C': pd.Series(1, index=list(range(4)), dtype='float32'),
                    'D': np.array([3] * 4, dtype='int32'),
                    'E': pd.Categorical(["test", "train", "test", "train"]),
                    'F': 'foo'})
df2

The columns of the resulting `DataFrame` have different
[dtypes](https://pandas.pydata.org/docs/user_guide/basics.html#dtypes).

In [ ]:
df2.dtypes

If you’re using IPython, tab completion for column names (as well as public
attributes) is automatically enabled. Here’s a subset of the attributes that
will be completed:

As you can see, the columns `A`, `B`, `C`, and `D` are automatically
tab completed. `E` is there as well; the rest of the attributes have been
truncated for brevity.

## Viewing data

See the [Basics section](https://pandas.pydata.org/docs/user_guide/basics.html#).

Here is how to view the top and bottom rows of the frame:

In [ ]:
df.head()
df.tail(3)

Display the index, columns:

In [ ]:
df.index
df.columns

Check dimentions of the data frame

In [ ]:
df.shape

`DataFrame.to_numpy()` gives a NumPy representation of the underlying data.
Note that this can be an expensive operation when your `DataFrame` has
columns with different data types, which comes down to a fundamental difference
between pandas and NumPy: **NumPy arrays have one dtype for the entire array,
while pandas DataFrames have one dtype per column**. When you call
`DataFrame.to_numpy()`, pandas will find the NumPy dtype that can hold *all*
of the dtypes in the DataFrame. This may end up being `object`, which requires
casting every value to a Python object.

For `df`, our `DataFrame` of all floating-point values,
`DataFrame.to_numpy()` is fast and doesn’t require copying data.

In [ ]:
df.to_numpy()

For `df2`, the `DataFrame` with multiple dtypes,
`DataFrame.to_numpy()` is relatively expensive.

In [ ]:
df2.to_numpy()

>**Note**
>
>`DataFrame.to_numpy()` does *not* include the index or column
labels in the output.

`describe()` shows a quick statistic summary of your data:

In [ ]:
df.describe()

Transposing your data:

In [ ]:
df.T

Sorting by an axis:

In [ ]:
df.sort_index(axis=0, ascending=False)

Sorting by values:

In [ ]:
df.sort_values(by='B',ascending=False)

## Selection

>**Note**
>
>While standard Python / Numpy expressions for selecting and setting are
intuitive and come in handy for interactive work, for production code, we
recommend the optimized pandas data access methods, `.at`, `.iat`,
`.loc` and `.iloc`.

See the indexing documentation [Indexing and Selecting Data](https://pandas.pydata.org/docs/user_guide/indexing.html) and [MultiIndex / Advanced Indexing](https://pandas.pydata.org/docs/user_guide/advanced.html).

### Getting

Selecting a single column, which yields a `Series`,
equivalent to `df.A`:

In [ ]:
df['A']

Selecting via `[]`, which slices the rows.

In [ ]:
df[0:3]
df['20130102':'20130104']

### Selection by label

See more in [Selection by Label](https://pandas.pydata.org/docs/user_guide/indexing.html#selection-by-label).

For getting a cross section using a label:

In [ ]:
df.loc[dates[0]]

Selecting on a multi-axis by label:

In [ ]:
df.loc[:, ['A','B']]

Showing label slicing, both endpoints are *included*:

In [ ]:
df.loc['20130102':'20130104', ['A', 'B']]

Reduction in the dimensions of the returned object:

In [ ]:
df.loc['20130102', ['A','B']]

For getting a scalar value:

In [ ]:
df.loc[dates[0], 'A']

For getting fast access to a scalar (equivalent to the prior method):

In [ ]:
df.at[dates[0], 'A']

### Selection by position

See more in [Selection by Position](https://pandas.pydata.org/docs/user_guide/indexing.html#selection-by-position).

Select via the position of the passed integers:

In [ ]:
df.iloc[3]

By integer slices, acting similar to numpy/python:

In [ ]:
df.iloc[3:5, 0:2]

By lists of integer position locations, similar to the numpy/python style:

In [ ]:
df.iloc[[1, 2, 4], [0, 2]]

For slicing rows explicitly:

In [ ]:
df.iloc[1:3, :]

For slicing columns explicitly:

In [ ]:
df.iloc[:, 1:3]

For getting a value explicitly:

In [ ]:
df.iloc[1, 1]

For getting fast access to a scalar (equivalent to the prior method):

In [ ]:
df.iat[1, 1]

### Boolean indexing

Using a single column’s values to select data.

In [ ]:
df[df.A > 0]

Selecting values from a DataFrame where a boolean condition is met.

In [ ]:
df[df > 0]

Using the `isin()` method for filtering:

In [ ]:
df2 = df.copy()
df2['E'] = ['one', 'one', 'two', 'three', 'four', 'three']
df2
df2[df2['E'].isin(['two', 'four'])]

### Setting

Setting a new column automatically aligns the data
by the indexes.

In [ ]:
s1 = pd.Series([1, 2, 3, 4, 5, 6], index=pd.date_range('20130102', periods=6))
s1
df['F'] = s1

Setting values by label:

In [ ]:
df.at[dates[0], 'A'] = 0

Setting values by position:

In [ ]:
df.iat[0, 1] = 0

Setting by assigning with a NumPy array:

In [ ]:
df.loc[:, 'D'] = np.array([5] * len(df))

The result of the prior setting operations.

In [ ]:
df

A `where` operation with setting.

In [ ]:
df2 = df.copy()
df2[df2 > 0] = -df2
df2

## Getting data in/out

### CSV

[Writing to a csv file.](https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html#io-store-in-csv)

In [ ]:
df.to_csv('foo.csv')

[Reading from a csv file.](https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html#io-read-csv-table)

In [ ]:
pd.read_csv('foo.csv')

In [ ]:
pd.read_csv("gff_example.gff.gz",compression="gzip",comment="#",sep="\t",header=None)

### Excel

Reading and writing to [MS Excel](https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html#excel-files)

[Writing](https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html#writing-excel-files) to an excel file.

In [ ]:
df.to_excel('foo.xlsx', sheet_name='Sheet1')

[Reading](https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html#reading-excel-files)

In [ ]:
pd.read_excel('foo.xlsx', 'Sheet1', index_col=None, na_values=['NA'])

### HTML

[Reading](https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html#reading-html-content) tables from html

In [ ]:
url = "https://fungi.ensembl.org/species.html"
df_url = pd.read_html(url)
df_url[0].head()

[Writing](https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html#writing-to-html-files) tables to html

In [ ]:
df_url[0].to_html()

### HDF5

Reading and writing to HDFStores.

Writing to a HDF5 Store.

In [ ]:
df.to_hdf('foo.h5', 'df')

Reading from a HDF5 Store.

In [ ]:
pd.read_hdf('foo.h5', 'df')

# Excercises #1

Csv blast file

A. Read a text file with blast output (blast_example.tab) (watch there is no header)

B. Change column names to "query", "subject", "id", "length", "mismatches", "gaps", "qstart", "qstop", "sstart", "sstop", "eval", "bitscore"

C. Sort blast output by query ID, subject ID, lowest e-value, highest bitscore

D. Check blast hits for queries: g12.t1, g13.t1 and g25.t1

Solution:

In [ ]:
# A. Read a text file with blast output
df_blast = pd.read_csv("blast_example.tab", sep = "\t", header = None)
df_blast.head()

In [ ]:
# B. Change column names
df_blast_columns =  ["query","subject","id","length","mismatches","gaps","qstart","qstop","sstart","sstop","eval","bitscore"]
df_blast.set_axis(df_blast_columns, axis=1, inplace=True)
df_blast.head()

In [ ]:
# C. Sort blast output by query ID, subject ID, lowest e-value, highest bitscore
df_sort = df_blast.sort_values(by = ["query","subject","eval","bitscore"],ascending=[True,True,True,False])
df_sort.head()

In [ ]:
# D. Check blast hits for queries: g12.t1, g13.t1 and g25.t1
df_sort[((df_sort['query'] == "g12.t1") | (df_sort['query'] == "g13.t1") | (df_sort['query'] == "g25.t1"))]
# or
df_sort.loc[((df_sort['query'] == "g12.t1") | (df_sort['query'] == "g13.t1") | (df_sort['query'] == "g25.t1")),:]
# shorter
df_sort.loc[df_sort['query'].isin(["g12.t1","g13.t1","g25.t1"]),:]
# or
df_sort[df_sort['query'].isin(["g12.t1","g13.t1","g25.t1"])]

Excel file

A. Read data from excel table from sheet 1 (Table S1 in excel_examples.xlsx) (hint - use skiprows to skip top rows, same with the footer)

B. Find cross names for which Species 1 is the same (intraspecific) or different from Species 2 (interspecific)

C. Read data from excel table from sheet 2 - Table S2

D. Calculate mean coverage at Tini for lines from intraspecific and interspecific crosses

Solution:

In [ ]:
# A. Read data from excel table from sheet 1
df_sheet1 = pd.read_excel('excel_example.xlsx',sheet_name="Table S1", skiprows=2, skipfooter=4)

In [ ]:
# B. Cross names for which Species 1 is the same as Species 2
intraspecific = df_sheet1.loc[(df_sheet1['Species 1'] == df_sheet1['Species 2']),'Cross']
interspecific = df_sheet1.loc[(df_sheet1['Species 1'] != df_sheet1['Species 2']),'Cross']

In [ ]:
# C. Read Table S2
df_sheet2 = pd.read_excel('excel_example.xlsx',sheet_name="Table S2", skiprows=2)

In [ ]:
# D. Mean coverage for intra and interspecific lines
df_sheet2[df_sheet2['Cross'].isin(intraspecific)].describe().at['mean','Mean depth of coverage at Tini']
df_sheet2[df_sheet2['Cross'].isin(interspecific)].describe().at['mean','Mean depth of coverage at Tini']

Table from html

A. Read tables from https://mycocosm.jgi.doe.gov/cgi-bin/kogBrowser?db=Ophnu1

B. Remove first column and last row from the main tables

Solution:

In [ ]:
# A. Read tables
df_html = pd.read_html("https://mycocosm.jgi.doe.gov/cgi-bin/kogBrowser?db=Ophnu1",header=0)

In [ ]:
# B. Remove 1st column and last row
df_html[1].iloc[:-1,1:]

Vcf file

A. Read vcf file (vcf_example.vcf.gz) (gzip compression)

B. For a mutation in position (POS) 531245 on scaffold (#CHROM) utg69_pilon, check INFO field for DP (read depth)

In [ ]:
# A. Read vcf file
# Skipping all comments
df_vcf = pd.read_csv('vcf_example.vcf.gz',sep='\t',compression="gzip",comment="#",header=None)
# Skipping x lines but for this one need to know how many to skip
df_vcf = pd.read_csv('vcf_example.vcf.gz',sep='\t',compression="gzip",skiprows=86,header=0)
df_vcf.head()

In [ ]:
# With standard open handle
import io
import os
import gzip
fh = gzip.open('vcf_example.vcf.gz','rt')
lines = [l for l in fh if not l.startswith('##')]
df_vcf = pd.read_csv(io.StringIO(''.join(lines)),sep='\t')
df_vcf.head()

In [ ]:
# B. mutation in position (POS) 531245 on scaffold (#CHROM) utg69_pilon, check INFO field
df_vcf.loc[df_vcf['POS'] == 531245,"INFO"].item()

# 2. Describing data

## Missing data

pandas primarily uses the value `np.nan` to represent missing data. It is by
default not included in computations. See the [Missing Data section](https://pandas.pydata.org/pandas-docs/stable/user_guide/missing_data.html).

Reindexing allows you to change/add/delete the index on a specified axis. This
returns a copy of the data.

In [ ]:
df1 = df.reindex(index=dates[0:4], columns=list(df.columns) + ['E'])
df1.loc[dates[0]:dates[1], 'E'] = 1
df1

To drop any rows that have missing data.

In [ ]:
df1.dropna(how='any')
df1.dropna(subset=["C"],how='any')
df1.dropna(axis=1,how='any')

Filling missing data.

In [ ]:
df1.fillna(value=0)

To get the boolean mask where values are `nan`.

In [ ]:
pd.isna(df1)

Selecting rows with nan

In [ ]:
df1[pd.isna(df1).any(axis=1)]

## Operations

See the [Basic section on Binary Ops](https://pandas.pydata.org/pandas-docs/stable/user_guide/basics.html#flexible-binary-operations).

### Stats

Operations in general *exclude* missing data.

Performing a [descriptive statistic](https://pandas.pydata.org/pandas-docs/stable/user_guide/basics.html#descriptive-statistics):

count, sum, min, max, median, mean, prod, abs, std, var, sem, cumsum, quantile, ...

sub, div, add, mul, divmod

In [ ]:
df.mean()

Same operation on the other axis:

In [ ]:
df.mean(1)

Operating with objects that have different dimensionality and need alignment.
In addition, pandas automatically broadcasts along the specified dimension.

In [ ]:
s = pd.Series([1, 3, 5, np.nan, 6, 8], index=dates).shift(2)
s
df.sub(s, axis="index")
df.sub(s, axis=0)

### Apply

Applying functions to the data:

In [ ]:
df

In [ ]:
df.apply(np.cumsum)
df.apply(lambda x: x.max() - x.min())
df.apply(lambda x: np.quantile(x,0.1))
df.quantile(0.1)

### Histogramming

See more at [Histogramming and Discretization](https://pandas.pydata.org/pandas-docs/stable/user_guide/basics.html#value-counts-histogramming-mode).

In [ ]:
s = pd.Series(np.random.randint(0, 7, size=10))
s
s.value_counts()

### String Methods

Series is equipped with a set of string processing methods in the str
attribute that make it easy to operate on each element of the array, as in the
code snippet below. Note that pattern-matching in str generally uses [regular
expressions](https://docs.python.org/3/library/re.html) by default (and in
some cases always uses them). See more at [Vectorized String Methods](https://pandas.pydata.org/pandas-docs/stable/user_guide/basics.html#vectorized-string-methods).

In [ ]:
s = pd.Series(['A', 'B', 'C', 'Aaba', 'Baca', np.nan, 'CABA', 'dog', 'cat'])
s.str.lower()
s.str.lower().str.match('[a-z]*c[a-z]*')

## Merge

### Concat

pandas provides various facilities for easily combining together Series and
DataFrame objects with various kinds of set logic for the indexes
and relational algebra functionality in the case of join / merge-type
operations.

See the [Merging section](https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html#).

Concatenating pandas objects together with `concat()`:

In [ ]:
df = pd.DataFrame(np.random.randn(10, 4))
df

# break it into pieces
pieces = [df[:3], df[3:7], df[7:]]

pd.concat(pieces)

### Join

SQL style merges. See the [Database style joining](https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html#database-style-dataframe-or-named-series-joining-merging) section.

In [ ]:
left = pd.DataFrame({'key': ['foo', 'foo'], 'lval': [1, 2]})
right = pd.DataFrame({'key': ['foo', 'foo'], 'rval': [4, 5]})
left
right
pd.merge(left, right, on='key')

Another example that can be given is:

In [ ]:
left = pd.DataFrame({'key': ['foo', 'bar'], 'lval': [1, 2]})
right = pd.DataFrame({'key': ['foo', 'bar'], 'rval': [4, 5]})
left
right
pd.merge(left, right, on='key')

### Append

Append rows to a dataframe. See the [Appending](user_guide/merging.ipynb#merging-concatenation)
section.

In [ ]:
df = pd.DataFrame(np.random.randn(8, 4), columns=['A', 'B', 'C', 'D'])
df
s = df.iloc[3]
df.append(s, ignore_index=True)

## Grouping

By “group by” we are referring to a process involving one or more of the
following steps:

- **Splitting** the data into groups based on some criteria  
- **Applying** a function to each group independently  
- **Combining** the results into a data structure  



See the [Grouping section](https://pandas.pydata.org/pandas-docs/stable/user_guide/reshaping.html#combining-with-stats-and-groupby).

In [ ]:
df = pd.DataFrame({'A': ['foo', 'bar', 'foo', 'bar',
                         'foo', 'bar', 'foo', 'foo'],
                   'B': ['one', 'one', 'two', 'three',
                         'two', 'two', 'one', 'three'],
                   'C': np.random.randn(8),
                   'D': np.random.randn(8)})
df

Grouping and then applying the `sum()` function to the resulting
groups.

In [ ]:
df.groupby('A').sum()
df.groupby('A').size()
df.groupby('A')['C'].sum()
df.groupby('A').aggregate(np.sum)
df.groupby('A').agg(np.sum)
df.groupby('A').agg({'C':[np.min, np.max],'D':[np.mean,np.std]})
df.groupby('A').agg({'C':['min', 'max'],'D':'mean'})

Grouping by multiple columns forms a hierarchical index, and again we can
apply the `sum` function.

In [ ]:
df.groupby(['A', 'B']).sum()

## Reshaping

See the sections on [Hierarchical Indexing](https://pandas.pydata.org/pandas-docs/stable/user_guide/advanced.html#hierarchical-indexing-multiindex) and
[Reshaping](https://pandas.pydata.org/pandas-docs/stable/user_guide/reshaping.html#reshaping-by-pivoting-dataframe-objects).

### Stack

In [ ]:
tuples = list(zip(*[['bar', 'bar', 'baz', 'baz',
                     'foo', 'foo', 'qux', 'qux'],
                    ['one', 'two', 'one', 'two',
                     'one', 'two', 'one', 'two']]))
index = pd.MultiIndex.from_tuples(tuples, names=['first', 'second'])
df = pd.DataFrame(np.random.randn(8, 2), index=index, columns=['A', 'B'])
df2 = df[:4]
df2

The `stack()` method “compresses” a level in the DataFrame’s
columns.

In [ ]:
stacked = df2.stack()
stacked

With a “stacked” DataFrame or Series (having a `MultiIndex` as the
`index`), the inverse operation of `stack()` is
`unstack()`, which by default unstacks the **last level**:

In [ ]:
stacked.unstack()
stacked.unstack(1)
stacked.unstack(0)

### Pivot tables

See the section on [Pivot Tables](user_guide/reshaping.ipynb#reshaping-pivot).

In [ ]:
df = pd.DataFrame({'A': ['one', 'one', 'two', 'three'] * 3,
                   'B': ['A', 'B', 'C'] * 4,
                   'C': ['foo', 'foo', 'foo', 'bar', 'bar', 'bar'] * 2,
                   'D': np.random.randn(12),
                   'E': np.random.randn(12)})
df

We can produce pivot tables from this data very easily:

In [ ]:
pd.pivot_table(df, values='D', index=['A', 'B'], columns=['C'])

### Melting

See the section on [Metling](https://pandas.pydata.org/docs/user_guide/reshaping.html#reshaping-by-melt).

In [ ]:
df2 = pd.pivot_table(df, values='D', index=['A', 'B'], columns=['C']).reset_index()
df2
pd.melt(df2, id_vars = ['A','B'], value_vars = ['bar','foo'])

## Plotting

See the [Plotting](https://pandas.pydata.org/pandas-docs/stable/user_guide/visualization.html) docs.

In [ ]:
ts = pd.Series(np.random.randn(1000),
               index=pd.date_range('1/1/2000', periods=1000))
ts = ts.cumsum()

ts.plot()

On a DataFrame, the `plot()` method is a convenience to plot all
of the columns with labels:

In [ ]:
df = pd.DataFrame(np.random.randn(1000, 4), index=ts.index,
                  columns=['A', 'B', 'C', 'D'])
df = df.cumsum()
df.plot()

In [ ]:
df.hist(bins=50)

In [ ]:
df['D'] = range(len(df))

df.plot(x='D',y=['A','B'])

## Time series

pandas has simple, powerful, and efficient functionality for performing
resampling operations during frequency conversion (e.g., converting secondly
data into 5-minutely data). This is extremely common in, but not limited to,
financial applications. See the [Time Series section](https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html).

In [ ]:
rng = pd.date_range('1/1/2012', periods=100, freq='S')
ts = pd.Series(np.random.randint(0, 500, len(rng)), index=rng)
ts.resample('5Min').sum()

Time zone representation:

In [ ]:
rng = pd.date_range('3/6/2012 00:00', periods=5, freq='D')
ts = pd.Series(np.random.randn(len(rng)), rng)
ts
ts_utc = ts.tz_localize('UTC')
ts_utc

Converting to another time zone:

In [ ]:
ts_utc.tz_convert('US/Eastern')

Converting between time span representations:

In [ ]:
rng = pd.date_range('1/1/2012', periods=5, freq='M')
ts = pd.Series(np.random.randn(len(rng)), index=rng)
ts
ps = ts.to_period()
ps
ps.to_timestamp()

Converting between period and timestamp enables some convenient arithmetic
functions to be used. In the following example, we convert a quarterly
frequency with year ending in November to 9am of the end of the month following
the quarter end:

In [ ]:
prng = pd.period_range('1990Q1', '2000Q4', freq='Q-NOV')
ts = pd.Series(np.random.randn(len(prng)), prng)
ts.index = (prng.asfreq('M', 'e') + 1).asfreq('H', 's') + 9
ts.head()

## Categoricals

pandas can include categorical data in a `DataFrame`. For full docs, see the
[categorical introduction](https://pandas.pydata.org/pandas-docs/stable/user_guide/categorical.html) and the API documentation.

In [ ]:
df = pd.DataFrame({"id": [1, 2, 3, 4, 5, 6],
                   "raw_grade": ['a', 'b', 'b', 'a', 'a', 'e']})

Convert the raw grades to a categorical data type.

In [ ]:
df["grade"] = df["raw_grade"].astype("category")
df["grade"]

Rename the categories to more meaningful names (assigning to
`Series.cat.categories` is inplace!).

In [ ]:
df["grade"].cat.categories = ["very good", "good", "very bad"]

Reorder the categories and simultaneously add the missing categories (methods under `Series
.cat` return a new `Series` by default).

In [ ]:
df["grade"] = df["grade"].cat.set_categories(["very bad", "bad", "medium",
                                              "good", "very good"])
df["grade"]

Sorting is per order in the categories, not lexical order.

In [ ]:
df.sort_values(by="grade")

Grouping by a categorical column also shows empty categories.

In [ ]:
df.groupby("grade").size()

## Gotchas

If you are attempting to perform an operation you might see an exception like:

In [ ]:
>>> if pd.Series([False, True, False]):
...     print("I was true")
Traceback
    ...
ValueError: The truth value of an array is ambiguous. Use a.empty, a.any() or a.all().

See [Comparisons](https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html#comparing-objects) for an explanation and what to do.

See [Gotchas](https://pandas.pydata.org/pandas-docs/stable/user_guide/gotchas.html#gotchas) as well.

# Exercises #2

Csv blast file (sorted blast table from Ex. 1.1)

A. For a sorted table group by query and select first best hit (check function [first](https://pandas.pydata.org/docs/reference/api/pandas.core.groupby.GroupBy.first.html))

B. Plot histogram of identities (column id)

In [ ]:
# A. Group by query and select first best hit
df_besthit = df_sort.groupby(['query']).first()
df_besthit.head()

In [ ]:
# B. Plot histogram of 
df_besthit['id'].hist()

Excel tables

A. Read Table S2, and for each 'Cross' check the min, max and mean Ploidy at Tend (groupby and agg).

B. Plot histograms of ploidy (Ploidy at Tend) for each Cross.

C. Read Table S4 and merge with Table S2 by 'Cross' and 'Line ID'

D. Subset lines with Ploidy at Tend >2, and plot histogram of Copy number at Tend for the remaining crosses

In [ ]:
# A. In Table S2 group by column 'Cross' and check the min, max and mean ploidy at Tend
df_sheet2.groupby(['Cross']).agg({'Ploidy at Tini':['min','max','mean']})

In [ ]:
# B. Plot histograms of ploidy (Ploidy at Tend) for each cross
df_sheet2['Ploidy at Tend'].hist(by=df_sheet2["Cross"])
# B shorter
df_sheet2.groupby(['Cross']).hist('Ploidy at Tini')

In [ ]:
# C. Read Table S4 and merge with Table S2 by 'Cross' and 'Line ID'
df_sheet4 = pd.read_excel("excel_example.xlsx",sheet_name="Table S4", skiprows=2)
df_merged = pd.merge(df_sheet2, df_sheet4, on = ['Cross','Line ID'])

In [ ]:
# D. Subset lines with Ploidy at Tend >2, and plot histogram of Copy number at Tend in each cross
df_subset = df_merged[df_merged['Ploidy at Tend']>2]
df_subset.groupby(['Cross']).hist('Copy number at Tend')

Html tables

A. Concatenate main tables from  https://mycocosm.jgi.doe.gov/cgi-bin/kogBrowser?db=Ophnu1 and remove rows with Total Gene Count in column Function ID

B. Do the same for another species https://mycocosm.jgi.doe.gov/cgi-bin/kogBrowser?db=Brefa1

C. Merge two data frames by Function ID and plot a barplot on the whole data frame (.plot.bar())

D. Melt table by species (one column with two variables = ophiostoma and bretziella, and gene count as value) and plot barplot

E. Reshape table with pivot_table putting Function ID classes as column names and plot a barplot

In [ ]:
# A. Concatenate main tables from 
df_html = pd.read_html("https://mycocosm.jgi.doe.gov/cgi-bin/kogBrowser?db=Ophnu1",header=0)
df_concat = pd.concat(df_html[1:],ignore_index=True)
df_concat = df_concat[df_concat['Function ID'] != 'Total Gene Count']

In [ ]:
# B. Concatenate tables from Bretziella
df2_html = pd.read_html("https://mycocosm.jgi.doe.gov/cgi-bin/kogBrowser?db=Brefa1",header=0)
df2_concat = pd.concat(df2_html[1:],ignore_index=True)
df2_concat = df2_concat[df2_concat['Function ID'] != 'Total Gene Count']

In [ ]:
# C. Merge two data frames by Function ID and plot a barplot on the whole data frame 
dmerged_concat = pd.merge(df_concat, df2_concat, on = ['Function ID'])
dmerged_concat.plot.bar()

In [ ]:
# D. Melt table by species
df_melt = pd.melt(dmerged_concat,id_vars = ['Function ID'],
       value_vars = ['Gene Models inOphiostoma novo-ulmi subsp. novo-ulmi H327',
                     'Gene Models inBretziella fagacearum C519 v1.0'])
df_melt.plot.bar()

In [ ]:
# Reshape table with pivot_table putting Function ID classes as column names
df_pivot = pd.pivot_table(df_melt, index = 'variable', columns = 'Function ID', values = 'value')
df_pivot.plot.bar()

Excel table

A. Read data from excel table from sheet 5 with a list of de novo mutations

B. Count number of A, C, T and G mutations for Scaffolds whose name starts with "chr" (you can use .str.match or str.startswith to select these scaffolds)

C. Calculate mean number of A,C,T and G mutations across Scaffolds (remember to change NaN to 0)

D. Write table with mutation counts (from B) to a file.

In [ ]:
# A. Read data from excel table from sheet 5
df_sheet5 = pd.read_excel('excel_example.xlsx',sheet_name="Table S5", skiprows=2)
df_sheet5.head()

In [ ]:
# B. Count number of A, C, T and G mutations on Scaffolds whose name starts with "chr"
df_chr = df_sheet5[df_sheet5['Scaffold'].str.match('chr')]
df_group = df_chr.groupby(['Scaffold','Derived']).size()
df_unstack = df_group.unstack()
df_unstack

In [ ]:
# C. Calculate mean number of A,C,T and G mutations across selected Scaffolds
df_unstack = df_unstack.fillna(0)
df_unstack.apply(np.mean)

In [ ]:
# D. Write table to tsv file.
df_unstack.to_csv('df_unstack.tab',sep="\t",header=True,index=True)
df_unstack.to_excel('df_unstack.xlsx')